[submodule "submodules/libsodium"]
	path = submodules/libsodium
	url = https://github.com/jedisct1/libsodium
[submodule "submodules/paseto-spec"]
	path = submodules/paseto-spec
	url = https://github.com/paseto-standard/paseto-spec
