[submodule "submodules/libsodium"]
	path = submodules/libsodium
	url = https://github.com/jedisct1/libsodium
[submodule "submodules/test-vectors"]
	path = submodules/test-vectors
	url = https://github.com/paseto-standard/test-vectors
