[tool.poetry]
name = "python-paseto"
version = "0.5.1"
description = "Platform-Agnostic Security Tokens for Python"
authors = []
license = "MIT"
packages = [{ include = "paseto" }]
readme = "README.md"
homepage = "https://github.com/purificant/python-paseto"
repository = "https://github.com/purificant/python-paseto"
documentation = "https://github.com/purificant/python-paseto"
keywords = ["paseto", "token", "security", "crypto"]
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
    "Topic :: Security",
    "Topic :: Security :: Cryptography",
    "Development Status :: 5 - Production/Stable",
]

[tool.poetry.dependencies]
python = ">=3.6.2,<3.11"
pysodium = "^0.7.10"

[tool.poetry.dev-dependencies]
black = "^21.7b0"
codespell = "^2.1.0"
coverage = "^5"
coveralls = "^3.2"
cython = "^0.29.24"
isort = "^5.9"
mypy = "^0.910"
pylama = "^7.7"
pylint = "^2.9"
pynacl = "^1.4"
pytest = "^6.2"
pytest-benchmark = "^3.4"
tox = "^3.24"

[tool.black]
exclude = '/(submodules|.tox)/'

[tool.isort]
profile = "black"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
