[tool.poetry]
name = "python-paseto"
version = "0.1.0"
description = "Platform-Agnostic Security Tokens for Python"
authors = []
license = "MIT"

[tool.poetry.dependencies]
python = "~3.6 || ~3.7 || ~3.8 || ~3.9"
pynacl = "^1.4.0"
pysodium = "^0.7.7"
cython = "^0.29.22"

[tool.poetry.dev-dependencies]
pytest = "^3.9"
black = "^20.8b1"
pylama = "^7.7"
tox = "^3.22"
coverage = "^4.5"
mypy = "^0.812"
coveralls = "^1.5"

[tool.black]
exclude = '/(submodules|.tox)/'

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
