name: ci-workflow
# run workflow for these events
on: [push, pull_request]

jobs:
  # define build job
  build:
    # type of machine
    strategy:
      matrix:
        python-version: ['3.6', '3.7', '3.8', '3.9']
        os: ['ubuntu-latest', 'osx-latest', 'windows-latest']
    name: Python ${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Setup python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install poetry
        run: make get-poetry
      - name: Enable poetry command
        run: echo "$HOME/.poetry/bin" >> $GITHUB_PATH
      - name: Install dependencies
        run: POETRY_VIRTUALENVS_CREATE=false make install
      - name: Check code formatting
        run: black --check .
      - name: Lint code
        run: make lint
      - name: Run tests with code coverage
        run: make coverage
